.wrapper{
  width: 80%;
  margin-left: 30px;
  margin-top:20px;
  height:500px}
  .wrapper> p:hover {
    cursor: pointer;
  }
  .wrapper > div > p:hover {
    cursor: pointer;
  }
 
  .wrapper> div > div > div > p {
    cursor: pointer;
  }


.pa{
text-align: start;
margin-left: 50px;
padding:5px 0px;}


.P1{
text-align: start;
margin-left: 60px;
padding:5px 0px;}



